<html>
<head>
    <meta charset="UTF-8">
    <title>Användare skapad</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container"><br>
    <p>{{message}}</p>
    <br />
    <br />
    <a href="{{login_url}}">Du kan nu logga in här med uppgifterna du angav.</a>
</div>
</body>
</html>